<h1>Sessions#new</h1>

<% if flash[:error] %>
	<p> <%= flash[:error] %> </p>
<% end %>

<%= form_for(:session, :url => sessions_create_path) do |f| %>
	<%= f.text_field :username %>
	<%= f.password_field :password %>
	<%= f.button :submit %>
<% end %>