<div ng-app="OrganizationsApp">
	<h1><%= @organization.name %></h1>

	<div class="col-md-6">
		<h2> Tasks </h2>
		<div ng-controller="TasksController as Task" ng-init="Task.org_id = <%= @organization.id %>; Task.objects = <%= @organization.tasks.to_json %>">
			<ul class="list-group">
				<li class="list-group-item" ng-if=" ! Task.loaded">
					<i style="color:red;"> Something went wrong. Please refresh the page. </i>
				</li>
				<li class="list-group-item" ng-repeat="task in Task.objects | orderBy: 'done+title'">
					<button class="glyphicon glyphicon-check btn" ng-class="{'btn-success' : task.done, 'btn-default' : !task.done}" ng-click="Task.alterStatus(task)"></button>
					{{ task.title }}
				</li>
				<li class="list-group-item list-group-item-info">
					<form ng-submit="Task.add()">
						<input type="text" class="form-control" name="title" ng-model="Task.newTask" required>
					</form>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<h2> Members </h2>
		<ul class="list-group">
			<% @organization.users.each do |u| %>
				<li class="list-group-item">
					<%= u.username %>
					<% if current_user == u %>
						[ <%= link_to "leave", users_leave_path(:id => @organization), data:{confirm: "Are you sure?", :method => "delete"} %> ]
					<% end %>
				</li>
			<% end %>
			<li class="list-group-item">
				<%= form_for :user, :url => users_join_path, :html => {:class => 'form form-group'} do |u| %>
					<input type="hidden" name="org_id" value="<%= @organization.id %>">
					<div class="input-group">
						<input type="text" class="form-control" name="username">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary"> New </button>
						</span>
					</div>
				<% end %>
			</li>
		</ul>
	</div>
</div>
